<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <div class="bg-white rounded shadow p-10">
    <h2 class="text-2xl font-bold mb-5">Show: {{ showContent() }}</h2>

    <button
      class="p-2 bg-blue-500 rounded text-white"
      (click)="toggleContent()"
    >
      Show content
    </button>

    <div class="my-5">
      @if (showContent()) {
      <p>Hello</p>
      } @else {
      <p>****</p>
      }
    </div>
  </div>

  <div class="bg-white rounded shadow p-10">
    <h2 class="text-2xl font-bold mb-5">
      Grade: {{ gradeForm.value || "N/A" }}
    </h2>

    <select
      [formControl]="gradeForm"
      class="w-36 h-10 rounded px-1 bg-blue-500 text-white"
    >
      <option class="bg-white text-black" value="" selected>
        Select a option
      </option>
      <option class="bg-white text-black" value="A">A</option>
      <option class="bg-white text-black" value="B">B</option>
      <option class="bg-white text-black" value="C">C</option>
      <option class="bg-white text-black" value="D">D</option>
      <option class="bg-white text-black" value="E">E</option>
      <option class="bg-white text-black" value="F">F</option>
    </select>

    <div class="my-5">
      @switch (gradeForm.value) { @case ("A") {
      <p>90</p>
      } @case ("B") {
      <p>70</p>
      } @case ("C") {
      <p>50</p>
      } @case ("D") {
      <p>30</p>
      } @case ("E") {
      <p>10</p>
      } @case ("F") {
      <p>00</p>
      } @default {
      <p>N/A</p>
      } }
    </div>
  </div>

  <div class="bg-white rounded shadow p-10">
    <h2 class="text-2xl font-bold mb-5">Frameworks</h2>

    <ul>
      @for (framework of frameworks(); track i; let i = $index, first = $first,
      last = $last, even = $even, odd = $odd, count = $count ) {
      <li
        [class]="{
        'bg-red-100': first,
        'bg-blue-100': last,
        'bg-yellow-100': even && !first && !last,
        'bg-green-100': odd && !first && !last,
      }"
      >
        {{ i + 1 }}/{{ count }} {{ framework }}
      </li>
      }
    </ul>
  </div>

  <div class="bg-white rounded shadow p-10">
    <h2 class="text-2xl font-bold mb-5">Frameworks Empty</h2>

    <ul>
      @for (framework of frameworksEmpty(); track $index) {
      <li>{{ framework }}</li>
      } @empty {
      <li>No franeworks</li>
      }
    </ul>
  </div>
</section>
